@model IEnumerable<KUSYS.WebApplication.Models.StudentDto>

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BirthDate)
			</th>
			<th>
				CourseName
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RoleId)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>

				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BirthDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CourseId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RoleId)
				</td>
				<td>
					@Html.ActionLink("Edit","Update", "Student", new {  Id=item.Id  }) 
				</td>
			</tr>
		}
	</tbody>
</table>
